@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'OffBitTrial';
    src: url(fonts/OffBitTrial-DotBold.ttf) format('truetype');
}

a {
    text-decoration: underline;
}

