---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Info - Timy Villarmia">
    <main>
        <div>
            <h1>info</h1>
            <p>Who is Timy Villarmia? Explore the journey, skills, and aspirations in the field of computer science.</p>
        </div>
        <div>
            <!-- images -->
        </div>
        <div>
            <div>
                <h1>about me</h1>
                <p>I’m Timy — a third-year computer science student. 
                    I care a lot about using code for positive impact. 
                    Currently based in Cebu City, Philippines.</p>
            </div>
            <div>
                <p>
                    I was born and raised in Cebu, PH., the first in my family to attend college, raised by my hardworking single mother who worked as a maid. I got hooked on computers early on and loved playing video games and turned me into a "techie-kid" of the family early on.
                    
                    In my teenage years, curiosity led me to self-taught photo and video editing, taking on design projects for friends and schools. 
                    
                    Today, I’m a 3rd-year computer science student at Asian College of Technology. While I primarily focus on the Full-Stack Development, I have a great interest in Artificial Intelligence and Game-Development. I proudly serve as a technical director for the non-profit organization "Ngiti”.
                    
                    Outside of coding, you'll often find me casually playing games, consuming tech contents on YouTube, and and constantly exploring new technologies and enrolling to various courses, especially in artificial intelligence and game development.
                    
                    I’m open to internships, and part-time positions in the Full-Stack Development field.
                </p>
            </div>
        </div>
        <div>
            <div>
                <h1>
                    CAREER + EDUCATION
                </h1>
            </div>
            <div>
                <div>

                </div>
                <div>
                    
                </div>
            </div>
        </div>
    </main>

</Layout>