<section class="">
    <div class="">
        <h1 class="font-display">CONNECT & COLLAB</h1>
        <p>I'm always open to new opportunities and connections. Whether you have a project you'd 
            like to discuss, want to share your work, or just say hi — please don't hesitate to reach out.
        </p>
        <button>
            <a class="" href="mailto: timyvillarmia@gmail.com">say hello</a>
        </button>
    </div>
</section>