<nav class="flex justify-between border-b-[1px] border-opacity-10 py-5">
    <a href="/" class="font-bold no-underline">Timy Villarmia</a>
    <div class="hidden">
        <a href="/">Home</a>
        <a href="/info">Info</a>
    </div>
    <a href="mailto:hello@timyvillaria.com" class="no-underline">hello@timyvillarmia.com</a>
</nav>