---
const { project } = Astro.props;
import { Icon } from 'astro-icon/components';
---


<div class="flex flex-row items-center justify-between rounded-lg border-[1px] border-off-white py-6 px-4 ">
    <div class="">
        <p class="font-bold">{project.title}</p>
        <p class="font-light">{project.category}</p>
    </div>
    <div class="">
        <a href={project.link} target="_blank">
            <Icon name="mdi:github" class="text-4xl"/>
        </a>
    </div>

</div>